<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320106218263-o6vuklbo4q21fgsll2k11qqgt4kj18p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320106218263-o6vuklbo4q21fgsll2k11qqgt4kj18p8</string>
	<key>API_KEY</key>
	<string>AIzaSyBWQRV83XiGEFHSzdc5lHWwrY2pUINHPAE</string>
	<key>GCM_SENDER_ID</key>
	<string>320106218263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zohair.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-c5de1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-c5de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320106218263:ios:ce0b8c948bfb223c3d6d52</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-c5de1.firebaseio.com</string>
</dict>
</plist>